@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

img {
    max-width: 300px;
}

#logo{
  margin: 0;
  padding: 0;
  width: 25px;
}
.bg-black{
  background: black;
}
.positionRetive{
  position: relative;
}

.positionAbs{
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  -o-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
}

.fab{
  color: white;
  font-size: 2em;
  margin: .3em;
}

h1{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.heroImg{
  background-image: url("../img/shiba.jpg");
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
  height: 100vh;
}

.bottom_0{
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.jumbotron{
  background-image: url("../img/header2nd.jpg");
  height: 300px;
  background-size: cover;
  background-position: 0% 45%;
}

.display{
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.row{
  margin-bottom: 10em;
}

