@import url("https://fonts.googleapis.com/css?family=Jua|Open+Sans|Roboto");

option{
  width: 10px;
}
img {
    max-width: 300px;
}

#logo{
  margin: 0;
  padding: 0;
  width: 25px;
}
.bg-black{
  background: black;
}
.positionRetive{
  position: relative;
}

.positionAbs{
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  -o-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
}

.fab{
  color: white;
  font-size: 2em;
  margin: .3em;
}

.font-jua{
  font-family:'Jua', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.heroImg{
  background-image: url("../img/shiba.jpg");
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
  height: 100vh;
}


.bottom_0{
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.jumbotron{
  background-image: url("../img/header2nd.jpg");
  height: 300px;
  background-size: cover;
  background-position: 0% 45%;
  border-radius: 0;
}

.jumbImg2{
  background-image: url("../img/contact.jpg");
}

.sizing{
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.row{
  padding: 2em 0 2em 0;
}

h2{
  padding: 1.5em 0 1.5em 0;
}

.top_btm_padding{
  padding: 2em 0 2em 0;
}

.fixed{
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100;
}

.hide{
  animation: fadeImg 1.5s;
}

.display{
  transition: all .5s;
  border-radius: 10%;
}
.display:hover{
  border-radius: 40%;
  transform: scale(1.2);
}

.fade{
  opacity: 0;
  transform: translate(300px);
}

.wrap{
  transition: all 1s;
}

.fadeNav{
  animation: fade .1s;
}

.snsBox .fab:hover{
  transition: all .5s;
  color: black;
  transform: scale(2);
}
@keyframes fade {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeImg {
  0% {
    transform: translateX(100px);
    transform: rotate(60deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transform: rotate(0deg);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .display{
    margin: 1em 0 1em 0;
  }
}